---
import Resume from "../resume.json";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/index/Experience.astro";
import Projects from "../components/index/Projects.astro";
import About from "../components/index/About.astro";
import Tabs from "../components/widgets/Tabs.astro";
import UserGroup from '../components/icons/UserGroup.astro';
import Skills from "../components/index/Skills.astro";
import Panel from "../components/widgets/Panel.astro";
---

<Layout title={Resume.basics.name}>
  <About basics={Resume.basics} />

  <div class="content">
    <Tabs selected="1">
      <div slot="experience">
        <Experience items={Resume.work} />


        <Panel id="interests" title="Volunteering" card={true}>
          <Experience items={Resume.volunteer} icon={UserGroup} />
        </Panel>
      </div>
      <div slot="projects">
        <Projects items={Resume.projects} />
      </div>
      <!--div slot="skills">
        <Skills skills={Resume.skills} interests={Resume.interests} />
      </div-->
    </Tabs>
  </div>
</Layout>
