---
import type { ResumeWork } from "../../types";
import { dateFormat } from "../../utils";
import Timeline from "../widgets/Timeline.astro";
import Panel from "../widgets/Panel.astro";
import TimelineItem from "../widgets/TimelineItem.astro";
import BuildingOffice2 from "../icons/BuildingOffice2.astro";
import CalendarDays from "../icons/CalendarDays.astro";
import MapPin from "../icons/MapPin.astro";

export interface Props {
  items: Array<ResumeWork>;
}

const { items } = Astro.props;
---

<Panel id="experience">
  <Timeline slot="content">
    {
      items.map((i) => (
        <TimelineItem
          icon={BuildingOffice2}
          date={`${dateFormat(i.startDate)} - ${
            dateFormat(i.endDate) ?? "Present"
          } | ${i.location}`}
          title={`${i.position} · ${i.name}`}
          content={i.summary}
        >
          <div slot="date" class="flex flex-row gap-2 text-gray-500">
            <div>
              <span class="inline-block font-normal group-hover:text-gray-700 transition duration-100 ease-in">
                <CalendarDays class="w-5 h-5 -mb-1  text-gray-600" />
              </span>
              {`${dateFormat(i.startDate)} - ${dateFormat(i.endDate) ?? "Present"}`}
            </div>
            <div>
              <span class="inline-block font-normal group-hover:text-gray-700 transition duration-100 ease-in">
                <MapPin class="w-5 h-5 -mb-1 text-gray-600" />
              </span>
              {i.location}
            </div>
          </div>
          <div slot="content">
            {i.summary}
            {i.highlights && <ul class="pl-4">
              {i.highlights.map(h => (
              <li><span class="absolute -ml-3 sm:-ml-3.2 select-none transform -translate-y-px">›</span> {h}</li>
              ))}
            </ul>}  
          </div>
        </TimelineItem>
      ))
    }
  </Timeline>
</Panel>
