---
import type { ResumeInterest, ResumeSkill } from "../../types";
import Panel from "../widgets/Panel.astro";
import Progress from "../widgets/Progress.astro";
// import Quote from "../widgets/Quote.astro";
import TagCloud from "../widgets/TagCloud.astro";

export interface Props {
  skills: Array<ResumeSkill>;
  interests: Array<ResumeInterest>;
}

const { skills, interests } = Astro.props;
---

<Panel id="skills">
  {
    skills.map((s) => (
      <div class="flex flex-col justify-between w-full py-4 pl-4 pr-3 mb-3 bg-white rounded shadow">
        <Progress rating={s.level}>
          <span slot="label" class="text-sm font-medium">
            {s.name}
          </span>
        </Progress>

        <p class="text-xs">{s.summary}</p>

        <TagCloud tags={s.keywords} />
      </div>
    ))
  }
</Panel>
<!--
  <div class="w-full p-4 mt-4 rounded-md shadow-lg bg-stone-50 lg:full">
    {skills.map(i => (
    <div class="flex flex-col justify-between w-full py-4 pl-4 pr-3 mb-3 bg-white rounded shadow">
      <div class="w-full mb-2 text-xl font-bold">{i.name}</div>
      <div class="mt-1 text-sm text-gray-500 answer pb-2">
          {i.summary}
      </div>
      <div class="flex flex-row gap-1 text-gray-500">
        {i.keywords.map(k => (
          <span class="badge badge-outline">{k}</span>
        ))}
      </div>
      </div>
    ))}
  </div>


<Panel id="interests" title="Interests" card={true}>
  <ul class="flex flex-row gap-2 text-gray-600">
    {interests.map(i => (
      <li><span class="badge badge-outline">{i.name}</span></li>
    ))}
    </ul>
</Panel>

<Panel id="interests" card={true}>
  <Quote
    text="Patience with small details makes perfect a large work, like the universe."
    author="Jalāl al-Dīn Muḥammad Rūmī"
    label="Persian poet (1207 - 1273) (13th-century)"
    image="rumi.webp"
  />
</Panel>
 -->
